.nutritionCard {
    display: flex;
    background-color: #fbfbfb;
    margin: 0 0 39px 10px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    padding: 15px 0;
    width: 65%;
    height: 20%;

    & img {
        width: 20%;
        height: auto;
    }

    & div {
        display: flex;
        flex-direction: column;
        & > span:nth-child(1) {
            font-weight: 700;
            font-size: 20px;
            color: #282d30;
        }
        & > span:nth-child(2) {
            font-weight: 500;
            font-size: 14px;
            color: #74798c;
        }
    }
}
