.nutritionCard {
    display: flex;
    width: 258px;
    height: 124px;
    background-color: #fbfbfb;
    margin: 39px 10px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;

    & span img {
        width: 60px;
        height: 60px;
    }

    & div {
        display: flex;
        flex-direction: column;
        & > span:nth-child(1) {
            font-weight: 700;
            font-size: 20px;
            color: #282d30;
        }
        & > span:nth-child(2) {
            font-weight: 500;
            font-size: 14px;
            color: #74798c;
        }
    }
}
