.profil {
    margin-left: 200px;
    padding-top: 120px;

    & .header {
        display: flex;
        flex-direction: column;
        height: 150px;

        & h1 {
            font-weight: 600;
            font-size: 48px;

            & span {
                color: red;
            }
        }
    }

    & .graphs{
        display: flex;
        padding-right: 200px;

        & > div:nth-child(1){
            flex: 2 1 auto;
        }
        
        & > div:nth-child(2){
            flex: 1 1 auto;
            padding: 0 31px;

            & .nutritions{
                height: 100%;
            }
        }
    }
}
