.profil {
    padding: 120px 0 0 120px;
    width: auto;
    margin-bottom: 20px;

    & .header {
        display: flex;
        flex-direction: column;
        height: 150px;

        & h1 {
            font-weight: 600;
            font-size: 48px;

            & span {
                color: red;
            }
        }
    }

    & .graphs {
        display: flex;

        justify-content: space-around;

        & > div:nth-child(1) {
            width: 66%;
            @media screen and (max-width: 1200px) {
                width: 75%;
            }

            & > div:nth-child(2) {
                display: flex;
                justify-content: space-between;

                & > div {
                    width: 33%;
                }
            }
        }

        & .nutritions {
            padding-left: 30px;
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (max-width: 1200px) {
                width: 25%;
            }
        }
    }
}
